.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
.container{
  margin: 2rem;

}
.blogsContainer{
  margin: 2rem;
  padding-left: 10rem;
  padding-right: 10rem;
}
.blogItem{
  margin: 1rem;
}
.mainNav ul{
  display: flex;
}
.mainNav ul li{
 list-style: none;
 margin: 1rem;
 font-weight:bold ;
}
.tCenter{
  text-align: center;
  margin: 1rem  ;
}

